In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, LogisticRegression
import matplotlib.pyplot as plt
import pickle
import joblib
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import seaborn as sn
# from sklearn import datasets
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
import cv2
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from scipy.stats import randint
from scipy.stats import norm
from openml import tasks, flows, runs, datasets, config

task_id = 10101
task = tasks.get_task(task_id)
dataset = datasets.get_dataset(task.dataset_id)
X, y, categorical_indicator, attribute_names = dataset.get_data(
    dataset_format="dataframe", target=dataset.default_target_attribute
)

In [4]:
X

     V1  V2       V3  V4
0     2  50  12500.0  98
1     0  13   3250.0  28
2     1  16   4000.0  35
3     2  20   5000.0  45
4     1  24   6000.0  77
..   ..  ..      ...  ..
743  23   2    500.0  38
744  21   2    500.0  52
745  23   3    750.0  62
746  39   1    250.0  39
747  72   1    250.0  72

[748 rows x 4 columns]

In [5]:
model = RandomForestClassifier()
model.fit(X,y)
model.score(X,y)

0.9318181818181818

In [9]:
run = runs.run_model_on_task(model, task)
run.publish()
print(f'View the run online: {run.openml_url}')

D:\program files\python\lib\site-packages\openml\runs\functions.py:267: UserWarning: The model is already fitted! This might cause inconsistency in comparison of results.
  warnings.warn(

View the run online: https://www.openml.org/r/10560799